<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    </head>
        <body>
            <h1>Staff: Review Past orders</h1>
            <table>
                <tr>
                  <th>Student Name</th>
                  <th>OrderDate</th>
                  <th>OrderContents</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td><input type="button" value="Edit Order"></td>
                </tr>
                <tr>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td><input type="button" value="Edit Order"></td>
                </tr>
                <tr>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td><input type="button" value="Edit Order"></td>
                </tr>
                <tr>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td><input type="button" value="Edit Order"></td>
                </tr>
                <tr>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td>Filler</td>
                  <td><input type="button" value="Edit Order"></td>
                </tr>
              </table> 
              <p><a href=""><input type = "submit" value = "Print order report"/></a></p>
            <p><a href="/user/staff/options"><input type = "submit" value = "Back"/></a></p>
        </body>
    </head>
</html>